package pages

import (
"github.com/set0xc3/htmx/internal"
"github.com/set0xc3/htmx/internal/model"
"github.com/set0xc3/htmx/internal/views/components"
)

templ Base_Page(model_ctx model.Context) {
<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
	<meta charset="utf-8" />
	<title>MySite</title>
	<link href="css/tw.css" rel="stylesheet" />
	<script src="js/htmx.min.js"></script>
</head>

<body hx-boost="true" class="flex flex-col h-full gap-[2px] bg-[#CDD2D6]">
	//<div hx-get="/clients" hx-trigger="load" hx-swap="innerHTML" hx-target="main"></div>
	@components.Navbar()
	<div class="flex flex-1 gap-[2px]">
		@components.Sidebar(model_ctx)
		<!-- Main Content -->
		<main class="bg-base-200 rounded-[5px] flex-1 p-4 gap-[2px] bg-white">
			{ children... }
		</main>
	</div>
	@internal.DEV_HotReload()
</body>

</html>
}
