package pages

import "github.com/set0xc3/htmx/internal/api"

templ ClientsTable() {
<div class="overflow-x-auto">
	<table class="table">
		<!-- head -->
		<thead>
			<tr>
				<th>Метка</th>
				<th>ФИО</th>
				<th>Телефон</th>
				<th>Адрес</th>
				<th>Эл.почта</th>
				<th>Количество обращений</th>
				<th>Дата регистрации</th>
			</tr>
		</thead>
		<tbody hx-confirm="Вы уверены?" hx-target="closest tr">
			for _, item := range api.FetchClients() {
			<tr>
				<td>{ item.Mark }</td>
				<td>{ item.FullName }</td>
				<td>{ item.Phones }</td>
				<td>{ item.LegalAddress }</td>
				<td>{ item.Email }</td>
				<td>{ item.RegistrationDate }</td>
				<td>{ item.RequestCount }</td>
				<td><button class="btn" hx-delete={ "/api/v1/client/" + item.Id }>Delete</button></td>
			</tr>
			}
		</tbody>
	</table>
</div>
}

templ ClientsPage() {
<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
	<meta charset="utf-8" />
	<title>MySite</title>
	<link href="css/tw.css" rel="stylesheet" />
	<script src="js/htmx.min.js"></script>
</head>

<body hx-boost="true">
	@ClientsTable()
</body>

</html>
}
