package pages

import (
"github.com/set0xc3/htmx/internal/api"
)

templ ClientsTable() {
<div class="overflow-x-auto">
	<table class="table">
		<!-- head -->
		<thead>
			<tr>
				<th>Id</th>
				<th>Id2</th>
				<th>Метка</th>
				<th>Контрагент</th>
				<th>ФИО</th>
				<th>Тип</th>
				<th>Телефоны</th>
				<th>Эл. адрес</th>
				<th>Юр. адрес</th>
				<th>Физ. адрес</th>
				<th>Дата регистрации</th>
				<th>Рекламный канал</th>
				<th>Регистрационные данные 1</th>
				<th>Регистрационные данные 2</th>
				<th>Примечание</th>
				<th>Количество обращений</th>
				<th>День рождения</th>
				<th>Доход от клиента</th>
			</tr>
		</thead>
		<tbody hx-confirm="Вы уверены?" hx-target="closest tr">
			for _, item := range api.FetchClients() {
			<tr>
				<td>{ item.Id }</td>
				<td>{ item.Id2 }</td>
				<td>{ item.Mark }</td>
				<td>{ item.Contractor }</td>
				<td>{ item.FullName }</td>
				<td>{ item.Type }</td>
				<td>{ item.Phones }</td>
				<td>{ item.Email }</td>
				<td>{ item.LegalAddress }</td>
				<td>{ item.PhysicalAddress }</td>
				<td>{ item.RegistrationDate }</td>
				<td>{ item.AdChannel }</td>
				<td>{ item.RegData1 }</td>
				<td>{ item.RegData2 }</td>
				<td>{ item.Note }</td>
				<td>{ item.RequestCount }</td>
				<td>{ item.Birthday }</td>
				<td>{ item.Income }</td>
				<td><button class="btn" hx-delete={ "/api/v1/client/" + item.Id }>Delete</button></td>
			</tr>
			}
		</tbody>
	</table>
</div>
}

templ ClientsPage() {
<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
	<meta charset="utf-8" />
	<title>MySite</title>
	<link href="css/tw.css" rel="stylesheet" />
	<script src="js/htmx.min.js"></script>
</head>

<body hx-boost="true">
	@ClientsTable()
</body>

</html>
}
