package pages

import (
"github.com/set0xc3/htmx/internal/api"
"github.com/set0xc3/htmx/internal/model"
)

templ view() {
<div class="overflow-x-auto">
	<table class="table">
		<!-- head -->
		<thead>
			<tr>
				<th>Метка</th>
				<th>ФИО</th>
				<th>Телефон</th>
				<th>Адрес</th>
				<th>Эл.почта</th>
			</tr>
		</thead>
		<tbody hx-confirm="Вы уверены?" hx-target="closest tr">
			for _, item := range api.FetchClients("10") {
			<tr>
				<td>{ item.Mark }</td>
				<td>{ item.FullName }</td>
				<td>{ item.Phones }</td>
				<td>{ item.LegalAddress }</td>
				<td>{ item.Email }</td>
				<td><button class="btn" hx-delete={ "/api/v1/client/" + item.Id }>Delete</button></td>
			</tr>
			}
		</tbody>
	</table>
	<div class="join">
		<button class="join-item btn">1</button>
		<button class="join-item btn">2</button>
		<button class="join-item btn btn-disabled">...</button>
		<button class="join-item btn">99</button>
		<button class="join-item btn">100</button>
	</div>
</div>
}

templ Clients(model_ctx model.Context) {
@Base_Page(model_ctx) {
@view()
}
}
