package pages

templ Head() {
<div class="navbar bg-base-100">
	<div class="flex-1">
		<a class="btn btn-ghost text-xl">daisyUI</a>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal px-1">
			<li><a>Link</a></li>
			<li><a>Link</a></li>
			<li>
				<details>
					<summary>Владимир</summary>
					<ul class="bg-base-100 rounded-t-none p-2">
						<li><a>Link</a></li>
						<li><a>Link</a></li>
					</ul>
				</details>
			</li>
		</ul>
	</div>
</div>
}

templ IndexPage() {
<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
	<meta charset="utf-8" />
	<title>MySite</title>
	<link href="css/tw.css" rel="stylesheet" />
	<script src="js/htmx.min.js"></script>
</head>

<body hx-boost="true">
	<div class="max-w-[1280px] mx-auto">
		@Head()
	</div>
</body>

</html>
}
