package components

templ NavBar() {
<nav>
	<!-- Left -->
	<div id="nav-left">
		<a href="/">Главная</a>
		<a href="/catalog">Каталог</a>
		<a href="/contacts">Контакты</a>
		<a href="/about">О нас</a>
	</div>
	<!-- Right -->
	<div id="nav-right">
		<button>Message</button>
		<button>Basket</button>
		<button>Account</button>
	</div>
</nav>
}
