package views

templ Base(head templ.Component, body templ.Component) {
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>MySite</title>
	<link href="static/css/base.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
	<script src="static/js/htmx.min.js"></script>
	@head
</head>

<body hx-boost="true">
	<div class="container">
		@body
	</div>
</body>

</html>
}
