package views

templ Catalog() {

<head>
	<link href="static/css/catalog_tmp.css" rel="stylesheet" />
</head>
@Base()
<nav>
	<!-- Left -->
	<div id="nav-left">
		<a href="#">Главная</a>
		<a href="#">Каталог</a>
		<a href="#">Контакты</a>
		<a href="#">О нас</a>
	</div>
	<!-- Right -->
	<div id="nav-right">
		<button>[Store]</button>
		<button>[Account]</button>
	</div>
</nav>
<aside>Sidebar</aside>
<main>
	Catalog
</main>
<footer>Footer</footer>
}
