package views

import (
"fmt"
"github.com/set0xc3/htmx/internal/db"
"github.com/set0xc3/htmx/views/components"
)

templ CatalogProducts() {
for i, product := range db.FetchProducts() {
<div class="item">
	<img src="static/store/1271f2316d89bbb3f6e3581bd8ec8cb1.png" />
	<div class="item-container">
		<div class="top">
			{ fmt.Sprintf("%s-%d", product.Name, i) }
		</div>
		<div class="middle">
			<a>В наличии:</a>
			<a>5 шт.</a>
			<a>17750 руб.</a>
		</div>
		<div class="buttons">
			<button id="button-1">Купить</button>
			<button id="button-2">-</button>
			<button id="button-3">-</button>
		</div>
	</div>
</div>
}
}

templ CatalogHead() {
<link href="static/css/test2.css" rel="stylesheet" />
}

templ CatalogBody() {
@components.NavBar()
<aside>Sidebar</aside>
<main>
	<div class="container">
		@CatalogProducts()
	</div>
</main>
@components.Footer()
}

templ Catalog() {
@Base(CatalogHead(), CatalogBody())
}
