package views

import (
"fmt"
"github.com/set0xc3/htmx/views/components"
)

type Product struct {
name string
price string
}

var products = [10]Product{
{"Сварочный инвертор PRO ARC 160 (Z211S)", "17750"},
{"Сварочный инвертор PRO ARC 160 (Z211S)", "17750"},
{"Сварочный инвертор PRO ARC 160 (Z211S)", "17750"},
{"Сварочный инвертор PRO ARC 160 (Z211S)", "17750"},
{"Сварочный инвертор PRO ARC 160 (Z211S)", "17750"},
{"Сварочный инвертор PRO ARC 160 (Z211S)", "17750"},
{"Сварочный инвертор PRO ARC 160 (Z211S)", "17750"},
{"Сварочный инвертор PRO ARC 160 (Z211S)", "17750"},
{"Сварочный инвертор PRO ARC 160 (Z211S)", "17750"},
{"Сварочный инвертор PRO ARC 160 (Z211S)", "17750"},
}

templ CatalogProducts(items []Product) {
for i, item := range items {
<div class="item">{ fmt.Sprintf("%s-%d", item.name, i) }</div>
}
}

templ CatalogHead() {
<link href="static/css/test2.css" rel="stylesheet" />
}

templ CatalogBody() {
@components.NavBar()
<aside>Sidebar</aside>
<main>
	<div class="container">
		// <div hx-get="/api/v1/products" hx-trigger="load"></div>
		@CatalogProducts(products[:])
	</div>
</main>
@components.Footer()
}

templ Catalog() {
@Base(CatalogHead(), CatalogBody())
}
