package views

import "github.com/set0xc3/htmx/views/components"

templ EmptyHead() {
<link href="static/css/test2.css" rel="stylesheet" />
}

templ EmptyBody() {
@components.NavBar()
}

templ Empty() {
@Base(EmptyHead(), EmptyBody())
}
