body {
	background-color: #1F1F1F;
	margin: 0;
	padding: 0;

	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	/*gap: 5px;*/

	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"navbar navbar"
		"sidebar main"
		"sidebar footer";
}

.grid-items {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 5px;
}

.grid-items .item {
	width: 200px;
	height: 300px;
	background-color: pink;
}

nav {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	gap: 6px;

	top: 0;
	height: 42px;
	position: sticky;
	grid-area: navbar;
	background-color: white;
	/*padding: 1em;*/
}

nav #nav-left {
	margin-right: auto;
}

nav #nav-right {
	margin-left: auto;
}

nav a {
	text-decoration: none;
	color: #293240;
}

aside {
	top: 42px;
	width: 250px;
	height: calc(100vh - 42px);
	position: sticky;
	align-self: flex-start;
	grid-area: sidebar;
	background-color: green;
	/*padding: 1em;*/
}

main {
	grid-area: main;
	background-color: blue;
	/*padding: 1em;*/
}

footer {
	grid-area: footer;
	background-color: red;
	/*padding: 1em;*/
}
