/* Header */

nav {
	background-color: white;
	grid-area: navbar;
	border-radius: 5px;
}

nav a {
	text-decoration: none;
	color: #293240;
	margin: 5px;
}

nav button {
	/* Сбрасывает все стили */
	all: unset;

	/* Устанавливает блочный контекст для кнопки */
	display: inline-block;

	/* Устанавливает курсор в виде указателя */
	cursor: pointer;
}

nav .wrap {
	display: flex;
	align-content: center;
	flex-wrap: wrap;

	top: 0;
	height: 34px;
	position: sticky;
	padding-left: 5px;
	padding-right: 5px;
}

nav #nav-left {
	margin-right: auto;
}

nav #nav-right {
	margin-left: auto;
}

/*Body*/

body {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"navbar navbar"
		"sidebar main"
		"sidebar footer";
}

.grid-items {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 5px;
}

.grid-items .grid-item {
	width: 200px;
	height: 300px;
	background-color: pink;
}

aside {
	top: 0;
	width: 250px;
	height: 100vh;
	position: sticky;
	align-self: flex-start;
	grid-area: sidebar;
	background-color: green;
}

main {
	height: 100%;
	grid-area: main;
	background-color: blue;
}

footer {
	grid-area: footer;
	background-color: red;
}
