package views

import (
	"github.com/set0xc3/htmx/internal/api"
	"github.com/set0xc3/htmx/internal/frontend/icons"
	"math"
	"strconv"
)

const pageLimit = 10

func clampInt(min, max, val int) int {
	if val < min {
		return min
	} else if val > max {
		return max
	}
	return val
}

func prevPage(currPage int) int {
	if currPage-1 < 1 {
		return 1
	}
	return currPage - 1
}

func nextPage(currPage int, clientCount int) int {
	totalPages := int(math.Ceil(float64(clientCount) / pageLimit))
	if currPage+1 > totalPages {
		return totalPages
	}
	return currPage + 1
}

func getPages(currPage, clientCount int) []int {
	if clientCount <= 0 {
		return []int{}
	}

	var totalPages int
	if clientCount < 10 {
		totalPages = 1
	} else {
		totalPages = int(math.Ceil(float64(clientCount) / pageLimit))
	}

	pages := []int{}

	start := currPage - 4
	end := currPage + 5

	if start < 1 {
		start = 1
	}
	if end > totalPages {
		end = totalPages
	}

	if end-start < pageLimit-1 {
		if end == totalPages {
			start = clampInt(1, totalPages-pageLimit+1, end-pageLimit+1)
		} else {
			end = clampInt(start+pageLimit-1, totalPages, start+pageLimit-1)
		}
	}

	for i := start; i <= end; i++ {
		pages = append(pages, i)
	}

	return pages
}

templ ClientsWrap(currPage, clientCount int) {
	<div class="overflow-x-auto">
		<table class="table table-xs">
			<!-- head -->
			<thead>
				<tr>
					<th>Id</th>
					<th>Id2</th>
					<th>Метка</th>
					<th>ФИО</th>
					<th>Телефон</th>
					<th>Адрес</th>
					<th>Эл.почта</th>
				</tr>
			</thead>
			<tbody hx-confirm="Вы уверены?" hx-target="closest tr">
				{{ offset := currPage * pageLimit }}
				{{ clients := api.FetchClients(pageLimit, offset) }}
				for _, item := range clients {
					<tr>
						<td>{ item.Id }</td>
						<td>{ item.Id2 }</td>
						<td>{ item.Mark }</td>
						<td>{ item.FullName }</td>
						<td>{ item.Phones }</td>
						<td>{ item.LegalAddress }</td>
						<td>{ item.Email }</td>
						<td><button class="btn" hx-delete={ "/api/v1/client/" + item.Id }>Delete</button></td>
					</tr>
				}
			</tbody>
		</table>
		<div class="join">
			<button
				class="join-item btn"
				hx-get={ "/views/clients?page=1" }
				hx-push-url={ "/clients?page=1" }
				hx-swap="innerHTML"
				hx-target="main"
			>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d={ icons.ChevronDoubleLeft }></path>
				</svg>
			</button>
			<button
				class="join-item btn"
				hx-get={ "/views/clients?page=" + strconv.Itoa(prevPage(currPage)) }
				hx-push-url={ "/clients?page=" + strconv.Itoa(prevPage(currPage)) }
				hx-swap="innerHTML"
				hx-target="main"
			>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d={ icons.ChevronLeft }></path>
				</svg>
			</button>
			for _, page := range getPages(currPage, clientCount) {
				<button
					class="join-item btn"
					hx-get={ "/views/clients?page=" + strconv.Itoa(page) }
					hx-push-url={ "/clients?page=" + strconv.Itoa(page) }
					hx-swap="innerHTML"
					hx-target="main"
				>
					{ strconv.Itoa(page) }
				</button>
			}
			<button
				class="join-item btn"
				hx-get={ "/views/clients?page=" + strconv.Itoa(nextPage(currPage+1, clientCount)) }
				hx-push-url={ "/clients?page=" + strconv.Itoa(nextPage(currPage+1, clientCount)) }
				hx-swap="innerHTML"
				hx-target="main"
			>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d={ icons.ChevronRight }></path>
				</svg>
			</button>
			<button
				class="join-item btn"
				hx-get={ "/views/clients?page=" + strconv.Itoa(int(math.Ceil(float64(clientCount)/pageLimit))) }
				hx-push-url={ "/clients?page=" + strconv.Itoa(int(math.Ceil(float64(clientCount)/pageLimit))) }
				hx-swap="innerHTML"
				hx-target="main"
			>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d={ icons.ChevronDoubleRight }></path>
				</svg>
			</button>
		</div>
	</div>
}

templ Clients(currPage int) {
	{{ clientCount := api.FetchClientCount() }}
	if clientCount > 0 {
		if currPage < 0 {
			{{ currPage = 0 }}
		}
		if currPage == 1 {
			{{ currPage = 0 }}
		}
		@ClientsWrap(currPage, clientCount)
	}
}
