package views

import (
"github.com/set0xc3/htmx/internal/api"
"math"
"strconv"
)

// strconv.Itoa((api.FetchClientCount() + 9) / 10)

func Test() int {
return int(math.Min(float64(29), float64(10)))
}

templ Clients() {
<div class="overflow-x-auto">
	<table class="table">
		<!-- head -->
		<thead>
			<tr>
				<th>Метка</th>
				<th>ФИО</th>
				<th>Телефон</th>
				<th>Адрес</th>
				<th>Эл.почта</th>
			</tr>
		</thead>
		<tbody hx-confirm="Вы уверены?" hx-target="closest tr">
			for _, item := range api.FetchClients("10") {
			<tr>
				<td>{ item.Mark }</td>
				<td>{ item.FullName }</td>
				<td>{ item.Phones }</td>
				<td>{ item.LegalAddress }</td>
				<td>{ item.Email }</td>
				<td><button class="btn" hx-delete={ "/api/v1/client/" + item.Id }>Delete</button></td>
			</tr>
			}
		</tbody>
	</table>
	<div class="join">
		for i:=0; i<Test(); i++ { 
			<button class="join-item btn">
				{ strconv.Itoa(i+1) }
				</button>
			}
	</div>
</div>
}
