package views

import (
"strconv"

"github.com/set0xc3/htmx/internal/api"
"github.com/set0xc3/htmx/internal/frontend/icons"
)

func prevPage(currPage int) int {
	if currPage-1 <= 0 {
		currPage = 1
	} else {
		currPage--
	}

	return currPage
}

func nextPage(currPage int) int {
	pageMax := int(float64(api.FetchClientCount() / 10))
	if currPage+1 > pageMax {
		currPage = pageMax
	} else {
		currPage++
	}

	return currPage
}

// strconv.Itoa((api.FetchClientCount() + 9) / 10)
templ Clients(page int) {
<div class="overflow-x-auto">
	<table class="table">
		<!-- head -->
		<thead>
			<tr>
				<th>Метка</th>
				<th>ФИО</th>
				<th>Телефон</th>
				<th>Адрес</th>
				<th>Эл.почта</th>
			</tr>
		</thead>
		<tbody hx-confirm="Вы уверены?" hx-target="closest tr">
			for _, item := range api.FetchClients(10, page * 10) {
			<tr>
				<td>{ item.Mark }</td>
				<td>{ item.FullName }</td>
				<td>{ item.Phones }</td>
				<td>{ item.LegalAddress }</td>
				<td>{ item.Email }</td>
				<td><button class="btn" hx-delete={ "/api/v1/client/" + item.Id }>Delete</button></td>
			</tr>
			}
		</tbody>
	</table>
	<div class="join">
		<button class="join-item btn" hx-get={ "/views/clients?page=1" } hx-push-url={ "/clients?page=1" }
			hx-swap="innerHTML" hx-target="main">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d={ icons.ChevronDoubleLeft }></path>
			</svg>
		</button>
			<button class="join-item btn" hx-get={ "/views/clients?page=" + strconv.Itoa(prevPage(page)) }
			hx-push-url={ "/clients?page=" + strconv.Itoa(prevPage(page)) } hx-swap="innerHTML" hx-target="main">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d={ icons.ChevronLeft }></path>
			</svg>
		</button>
		for i:=1; i<11; i++ { 
			if i == 5 {
				<button class="join-item btn bg-[#FF00FF]" hx-get={ "/views/clients?page=" + strconv.Itoa(i) }
				hx-push-url={ "/clients?page=" + strconv.Itoa(i) } hx-swap="innerHTML" hx-target="main">
				{ strconv.Itoa(i) }
				</button>
			} else if i > 5 {
				<button class="join-item btn" hx-get={ "/views/clients?page=" + strconv.Itoa(i) }
				hx-push-url={ "/clients?page=" + strconv.Itoa(i) } hx-swap="innerHTML" hx-target="main">
				{ strconv.Itoa(i) }
				</button>
			} else {
				<button class="join-item btn" hx-get={ "/views/clients?page=" + strconv.Itoa(i) }
				hx-push-url={ "/clients?page=" + strconv.Itoa(i) } hx-swap="innerHTML" hx-target="main">
				{ strconv.Itoa(i) }
				</button>
			}
			}
			<button class="join-item btn" hx-get={ "/views/clients?page=" + strconv.Itoa(nextPage(page)) }
			hx-push-url={ "/clients?page=" + strconv.Itoa(nextPage(page)) } hx-swap="innerHTML" hx-target="main">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d={ icons.ChevronRight }></path>
				</svg>
			</button>
			<button class="join-item btn" hx-get={ "/views/clients?page=" + strconv.Itoa(api.FetchClientCount() / 10) }
			hx-push-url={ "/clients?page=" + strconv.Itoa(api.FetchClientCount() / 10) } hx-swap="innerHTML" hx-target="main">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d={ icons.ChevronDoubleRight }></path>
				</svg>
			</button>
	</div>
</div>
}
