package views

import (
	"github.com/set0xc3/htmx/internal/api"
	"github.com/set0xc3/htmx/internal/frontend/components"
)

templ OrdersWrap(currPage, itemCount int) {
	<div class="overflow-x-auto">
		<table class="table table-xs">
			<!-- head -->
			<thead>
				<tr>
					<th>Id</th>
					<th>Id2</th>
					<th>Метка</th>
					<th>ФИО</th>
					<th>Телефон</th>
					<th>Адрес</th>
					<th>Эл.почта</th>
				</tr>
			</thead>
			<tbody hx-confirm="Вы уверены?" hx-target="closest tr">
				{{ offset := currPage * components.PageLimit }}
				{{ items := api.FetchClients(components.PageLimit, offset) }}
				for _, item := range items {
					<tr>
						<td>{ item.Id }</td>
						<td>{ item.Id2 }</td>
						<td>{ item.Mark }</td>
						<td>{ item.FullName }</td>
						<td>{ item.Phones }</td>
						<td>{ item.LegalAddress }</td>
						<td>{ item.Email }</td>
						<td><button class="btn" hx-delete={ "/api/v1/client/" + item.Id }>Delete</button></td>
					</tr>
				}
			</tbody>
		</table>
		@components.Pagination(currPage, itemCount, "/views/clients")
	</div>
}

templ Orders(currPage int) {
	{{ itemCount := api.FetchClientCount() }}
	if itemCount > 0 {
		if currPage < 0 {
			{{ currPage = 0 }}
		}
		@OrdersWrap(currPage-1, itemCount)
	}
}
