package views

css red() {
	background-color: #ff0000;
}

templ button(text string, isPrimary bool) {
	<button class={ "btn", templ.KV("is-primary", isPrimary), templ.KV(red(), isPrimary) }>{ text }</button>
}

templ Test() {
	{{ var name string = "Hello" }}
	<p>
		@button(name, true)
	</p>
}
